.body {
  background-color: #f2f2f2;
  transition: 1s;
  position: relative;
}
.image-to-show {
  width: 400px;
  height: 400px;
}

.off {
  display: none;
}
.show {
  display: inline-block;
}
.images-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
button {
  margin-left: 70px;
  position: relative;
}
.bttn {
  position: fixed;
  top: 20px;
  border: 3px solid rgb(1, 8, 1);
  background-color: #a5d819;
}
